<p id="notice"><%= notice %></p>

<h1><%= @questionnaire.name %></h1>
<p>Submitted by: <%= @response.user.name %>(<%= @response.user.matric_number %>)</p>
<hr>

<% @questionnaire.questions.each do |question| %>
  <h2><%= question.name %></h2>
  <% case question.question_type %>
  <% when 'single_choice' %>
    <p><%= question.answers.find { |a| a.id.to_s == @response.answers[question.id.to_s] }.name %></p>
  <% when 'multiple_choice' %>
    <% question.answers.select { |a| @response.multiple_choice_answers(question.id).include?(a.id) }.each do |answer| %>
      <p><%= answer.name %></p>
    <% end %>
  <% when 'long_answer' %>
    <p><%= @response.answers[question.id.to_s] %></p>
  <% end %>
<% end %>