<%= form_with(model: questionnaire) do |form| %>

  <% if questionnaire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(questionnaire.errors.count, "error") %> prohibited this questionnaire from being saved:</h2>

      <ul>
      <% questionnaire.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <div class="mb-3">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :description %>
      <%= form.text_area :description, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%#= form.label :Level %>
      <%= form.select :level, Questionnaire.levels.keys.map{ |key| [key.humanize.upcase, key] }, prompt: "Select level", class: "form-select", selected: @questionnaire.level %>
    </div>
    
    <div class="mb-3">
      <%= form.label :semester %>
      <%= form.number_field :semester, autofocus: false, class: "form-control" %>
    </div>
  </div>

  <div data-controller="nested-form" data-nested-form-index-value='QUESTION_RECORD'>
    <template data-nested-form-target='template'>
      <%= form.fields_for :questions, Question.new, child_index: 'QUESTION_RECORD' do |question| %>
        QUESTION - QUESTION_RECORD
        <%= render 'question_fields', form: question %>
      <% end %>
    </template>

    <%= form.fields_for :questions do |question| %>
      <%= render 'question_fields', form: question %>
    <% end %>

    <div data-nested-form-target="add_item">
      <%= link_to "Add Question", "#", data: { action: "nested-form#add_association" } %>
    </div>
  </div>


  <div class="actions">
    <%= form.submit "Create Evaluation", class: "btn btn-primary" %>
  </div>
<% end %>
